<!DOCTYPE html><html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
{% include "./seo_tags.html" %}
  <script type="text/javascript">window__SHARED_DATA__={{ SHAREDDATA|safe }};</script>
  </head>
  <body>
    <div id="root"><header class="primary-header" style="opacity:.5"><nav class="navbar navbar-default"><div class="container"><div class="navbar-header"><img src="/assets/images/logo-400x400.jpg" alt="Nyaaya" height="74" width="74"></div></div></nav></header><noscript>For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com/" target="_blank">instructions how to enable JavaScript in your web browser</a>.</noscript></div>
  </body>
</html>
